In [113]:
import re
import bs4
import requests
import pandas as pd

# Not used:
import urllib3
from urllib.request import urlopen
import html2text

In [52]:
# Grabbing turnstile filenames for the last year from the MTA website

URL = "http://web.mta.info/developers/turnstile.html"
soup = bs4.BeautifulSoup(urlopen(URL))

# Grabs all the links in the mta webpage
all_link_list = []
for link in soup.findAll('a'):
    all_link_list.append(link.get('href'))

# Dumps only the names for the last year into turnstile_link_list
turnstile_link_list = [all_link_list[36:89][i].replace("data/nyct/turnstile/", "") for i in range(len(link_list[36:89]))]

In [109]:
# Download all data files from turnstile_190309.txt to turnstile_180331.txt
# Warning: May take a long time
# On my computer, it took about 15 minutes to download all 50 files

for i in range(3, len(turnstile_link_list)):
    url="http://web.mta.info/developers/"+all_link_list[36:89][i] # Defining the webpage link
    r = requests.get(url) # Gets the data
    
    file = open('{}'.format(turnstile_link_list[i]), 'w') # Create empty file and open
    file.write(r.text) # Write the data
    file.close()

In [114]:
for i in range(2, 3):
    url="http://web.mta.info/developers/"+all_link_list[36:89][i] # Defining the webpage link
    r = requests.get(url) # Gets the data
    
    file = open('{}'.format(turnstile_link_list[i]), 'w') # Create empty file and open
    file.write(r.text) # Write the data
    file.close()

In [112]:
# Testing one of the imports
# This is used at the end after running the pipeline

turnstile_180331_df = pd.read_csv(r"{}".format(turnstile_link_list[52]))
turnstile_180331_df.head() # Preview

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/24/2018,00:00:00,REGULAR,6559322,2221550
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/24/2018,04:00:00,REGULAR,6559322,2221550
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/24/2018,08:00:00,REGULAR,6559322,2221550
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/24/2018,12:00:00,REGULAR,6559323,2221551
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/24/2018,16:00:00,REGULAR,6559327,2221555